<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">{{ section.settings.text }}</div>
    <div class="swiper-slide">slide 2</div>
    <div class="swiper-slide">slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Custom slider - Banner",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "label",
      "default": "esto es texto por defecto",
      "info": "info sobre este setting",
      "placeholder": "placeholder"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_text",
          "label": "Titulo para el slide"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Selecciona tu imagen"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text",
          "default": "Ver mas"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Url"
        }
      ]
    }
  ]
}
{% endschema %}
